# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env

# Build / Distribution
buildvenv/
dist/
build/
*.spec
tests/tmp_tests/
tests/tmp_test_res/
test_recursive_temp/
*.log
.filecortex_test/exe
*.exe

# IDEs
.vscode/
.idea/
.DS_Store

# Test / Coverage
.pytest_cache/
.pytest_tmp/
.coverage
htmlcov/
tests/.pytest_cache/
mypy_cache/
.pytest_temp_safe/
..run_tests_temp/

# App Data
.ai_context_workbench/
config.json

# Other
code_review.*
