# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env

# Build / Distribution
build/
dist/
*.spec
*.exe

# IDEs
.vscode/
.idea/
.DS_Store

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
tests/.pytest_cache/
mypy_cache/

# App Data
.ai_context_workbench/
config.json

# Other
code_review.txt
